<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if page.loc == "home"%}
                    <li>
                        <a class="page-scroll" href="#services">Nuestros servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contactenos</a>
                    </li>
                    {% else %}
                    <li><a href="/home/investigacion-operativa/">Optimización</a></li>
                    <li><a href="/home/mantenimiento-y-confiabilidad/">Mantenimiento y Confiabilidad</a></li>
                    <li><a href="/home/sustentabilidad/">Energía sustentable</a></li>
                    <li><a href="/home/automatizacion/">Automatización</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse {{ 'solar' | prepend: site.baseurl }} -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header 
    {% if page.header_img %}
        style="background-image: url({{site.baseurl}}/img/headers/{{page.header_img}})"
    {% else %}
        style="background-image: url({{site.baseurl}}/img/headers/{{site.header_img}})"
    {% endif %}>
        <div class="container">    
            <div class="intro-text">
                <img src="{{site.baseurl}}/img/GEMING-04.png" style="max-width:60%;
                max-height:60%;padding-bottom: 60px;">
                <div class="container">                
                <!-- 
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div> -->
                {% if page.loc == "home" %}
                <a href="#services" class="page-scroll btn btn-xl">Más información</a>
                {% else %}
                <a href="/home/" class="btn btn-xl">Página principal
                </a>
                {% endif%}
                </div>
            </div>

        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

